.author-img {
  float: left;
  margin-bottom: 20px;
}
.author {
  float: left;
  margin-left: 10px;
  padding-top: 10px;
}
h1 {
  float: left;
}
/*nhung phan tu h1 va nav se dc tha noi va nhu the nhung phan tu nay ko con tren trang nua*/
nav {
  float: left;
}
